---
layout: main
title: 十八哥的日志归档
---
<h1>{{ page.title }}</h1>

<script>
  $(document).ready(function(){
    var dataStr = '{ {% for tag in site.tags %}{% if tag[0] != site.tags.first[0] %},{% endif %}"{{ tag[0] }}":[{% for post in tag[1] %}{% if post != tag[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "postdate":"{{post.date | date:"%Y-%m-%d"}}"}{% endfor %}]{% endfor %} }',
    data = JSON.parse(dataStr),
    curTag = $.query.get("tag"),
    archieves = data[curTag];
    document.getElementById("tagstitle").innerHTML = curTag;
    
    if (curTag != "All") {
      var tagpost = "<ul>";
      for(var i = 0; i < archieves.length; i++) {
        tagpost += "<li class=\"tags\"><span>" + archieves[i].postdate + "<\/span> &raquo\;<a href=\"{{ site.baseurl }}" + archieves[i].url + "\">" + archieves[i].title + "<\/a><\/li>";
      }
      tagpost += "</ul>";
      document.getElementById("tagposts").innerHTML = tagpost;
    }

  });
</script>

    <a href="{{ site.baseurl }}/show_by_tag.html?tag=All">| All |</a>
{% for tag in site.tags %}
    <a href="{{ site.baseurl }}/show_by_tag.html?tag={{ tag[0] }}">| {{ tag[0] }} |</a>
{% endfor %}

<br />
<h3><div id="tagstitle"></div></h3>
<br />
<div id="tagposts">
  <ul> 
    {% for post in site.posts %} 
    <li class="tags">
      <span> {{ post.date | date: "%Y-%m-%d" }}</span> &raquo;
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </li> 
    {% endfor %} 
  </ul>  
</div>

