<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/mystyle.css">
  <link rel="shortcut icon" href="{{ site.baseurl}}/favicon.ico" type="image/x-icon" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
　<title>{{ page.title }}</title>
</head>

<body>
  <div id="main">
    <a href="{{ site.baseurl}}">主页</a>
    <a href="{{ site.baseurl}}/comments.html" style="float: right;">留言板</a>
    <hr />
      {{ content }}
    <p>请畅所欲言吧!</p>
  </div>


<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="cfishacker_blog" data-title="留言板" data-url="http://cforth.github.io/blog/comments.html"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"cfishacker"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->



  <div id="footer">
    <hr />
    <p>©2013-2014 <a href="http://cfishacker.com/">G18</a>. All rights reserved.</p>
  </div>

</body>
</html>
