<!DOCTYPE html>
<html>
<head>
{% include header.html %}
</head>

<body>
  <div id="main">
    <div id="navbar">
    {% include navbar.html %}
    </div>
    <hr />
    <div id="text">
      {{ content }}

    <br />
    {% if page.next %}
      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{ page.next.title }}">上一篇: {{ page.next.title }}</a>
    {% else %}
      <a>上一篇 </a>
    {% endif %} 

    {% if page.previous %}
      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{ page.previous.title }}" style="float: right;">下一篇: {{ page.previous.title }}</a>
    {% else %}
      <a style="float: right;">下一篇</a>
    {% endif %}
    <br />

    {% include duoshuo.html %}

    </div>
   </div> 
    
   <div id="footer">
   {% include footer.html %}
   </div>

</body>
</html>
