<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/mystyle.css">
  <link rel="shortcut icon" href="{{ site.baseurl}}/favicon.ico" type="image/x-icon" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
　<title>{{ page.title }}</title>
</head>

<body>
  <div id="main">
    <a href="{{ site.baseurl}}">主页</a>
    <a href="{{ site.baseurl}}/comments.html" style="float: right;">留言板</a>
    <hr />
    <div id="content">
      {{ content }}
    </div>

    <div id="menu">
      <br />
      <p><a href="http://weibo.com/superchaifei"><img src="{{ site.baseurl}}/my.jpg" width="150" height="200" title="十八哥的新浪微博"/></a></p>
      <div id="searchui">
        <form method="get" id="searchform" action="http://www.google.com.hk/search">
          <p ><label for="searched_content">站内搜索:</label></p>
          <p><input type="hidden" name="sitesearch" value="http://cfishacker.com/blog/" /></p>
          <p>
            <input type="text" name="as_q" class="box"  id="searched_content" title="在此输入搜索内容。" />
            <input type="submit" value="Go" class="button" title="搜索！" />
          </p>
        </form>
      </div>
    </div>

  </div>

  <div id="footer">
    <hr />
    <p>©2013-2014 <a href="http://cfishacker.com/">G18</a>. All rights reserved.</p>
  </div>

</body>
</html>
