<!DOCTYPE html>
<html>
<head>
{% include header.html %}

  <script>
  <!-- swiftype站内搜索 -->
   (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
     (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
     e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
   })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

   _st('install','ZxCP_YUGB7kCCEg2cQje');
  </script>

</head>

<body>
  <div id="main">
    <div id="navbar">
    {% include navbar.html %}
    </div>
    <hr />
    <div id="content">
      {{ content }}
    </div>

    <div id="menu">
      <br />
      <div id="changeMyPic"><img src="{{ site.baseurl}}/public/images/my.png" width="150" height="150" /></div>
      <p><a href="http://cfishacker.com/stock/">*十八哥的股票池*</a></p>
      <p><a href="http://blog.chinaunix.net/uid/24060800.html">*十八哥linux大锅饭*</a></p>
      <p><a href="{{ site.baseurl }}/pages/show_by_tag.html?tag=All">*日志分类归档*</a></p>
      
      <div id="searchui">
        <form>
          <input type="text" id="st-search-input" class="st-search-input" />
        </form>
      </div>
      
      <p><a href="{{ site.baseurl}}/pages/atom.xml" rel="alternate" title="Atom Rss" type="application/atom+xml"><img src="{{ site.baseurl}}/public/images/ct_rss.gif" width="36" height="36"></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/cforth" title="GitHub"><img src="{{ site.baseurl }}/public/images/github.gif" width="36" height="36"></a>&nbsp;&nbsp;&nbsp;<a href="http://weibo.com/superchaifei" title="新浪微博"><img src="{{site.baseurl}}/public/images/weibo_logo.gif" width="36" height="32"></a></p>

    </div>
  </div>
  
  <div id="footer">
  {% include footer.html %}
  </div>
    
</body>
</html>
