<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/mystyle.css">
  <link rel="shortcut icon" href="{{ site.baseurl}}/favicon.ico" type="image/x-icon" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
　<title>{{ page.title }}</title>
</head>

<body>
  <div id="main">
    <a href="http://cforth.github.io/blog/">Home</a>
    <a href="http://cforth.github.io/blog/comments.html" style="float: right;">Comment</a>
    <hr />
    <div id="content">
      {{ content }}
    </div>

    <div id="menu">
      <br />
      <p><img src="{{ site.baseurl}}/my.jpg" width="150" height="200" /></p>
      <p><a href="http://weibo.com/superchaifei">新浪微博</a></p>
    </div>

  </div>

  <div id="footer">
    <hr />
    <p>©2013-2014 <a href="http://cfishacker.com/">chaif87</a>. All rights reserved.</p>
  </div>

</body>
</html>
